.body {
    background-color: teal;
    color: lavender;
    transition: 2s ease;
}

.h1 {
    text-align: center;
}

.div1a {
   margin: 0 auto;
   width: 300px;
    border: 5px solid indianred;
   border-radius: 20px 20px 20px 20px;
   transition: transform 2s ease;
 }

 .div1a:hover {
    transform:scale(1.1)

 }

.div2 {
   display: flex;
   flex-direction: row;
   color: lightcoral;
   margin-top: 10px;
}

.div2a {
    margin:auto;
    width: 200px;
    border: 3px solid indianred;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background-color: rgb(184, 221, 184);
    transition: transform 2s ease;
    transition: background-color 2s ease;
}

.div2a:hover {
    transform: scale(1.1);
    background-color: lemonchiffon;
}

.div3 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 250px;

   
}

.div3a {
    margin: 0 auto;
    border: 5px solid indianred;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: black;
    Transition: transform 2s ease;
    
}
.div3a:hover {
    transform: scale(1.1);
}

.img3a {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.div3b {
    margin: 0 auto;
    border: 5px solid indianred;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: black;
    Transition: transform 2s ease;
}

.div3b:hover {
    transform: scale(1.1);
}

.img3b {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.div4 {
    margin: 0 auto;
    display: block;
    height: 250px;
}

.div4a {
    margin: 0 auto;
    border: 5px solid indianred;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: black;
    Transition: transform 2s ease;
}

.div3b:hover {
    transform: scale(1.1);
}
.img4a {
    max-width: 100%;
    max-height: auto;

    display: block;
    border-radius: 20px 20px 20px 20px;
    Transition: transform 2s ease;
}
.div4a:hover {
    transform: scale(1.1);
}

.div5 {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.div5a {
    margin: 0 auto;
    border: 5px solid indianred;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: black;
    Transition: transform 2s ease;
}
.div5a:hover {
    transform: scale(1.1);
}

.img5a {
    max-width: 100%;
    max-height: auto;
    height: auto;
    display: block;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: black;
    
}

@media screen and (max-width: 700px) {
    .div2a {
        background-color: paleturquoise;
    }
    .div2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .div3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .div5 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .body {
        background-color: khaki;
        color: black;
    }
    .div4 {
        margin: 0 auto;
}
}